{% extends 'base.html' %}

{% block title %}アカウント作成{% endblock title %}

{% block h1 %}アカウント作成{% endblock h1 %}

{% block content%}
<form method="POST" class="p-4 m-4 bg-primary border border-success rounded form-group">
  {% csrf_token %}
  <input type="text" name="username" class="form-control my-4" placeholder="ユーザー名">
  <input type="password" class="form-control mt-4" placeholder="パスワード" name="password1">
  <input type="password" class="form-control mt-4" placeholder="パスワード確認用" name="password2">
  <small class="mb-2 d-block text-start">パスワードは8文字以上で設定してください</small>
  {% if form.errors %}
  <span class="mb-2 small text-danger d-block text-start">利用できないユーザーIDまたはパスワードです</span>
  {% endif %}
  <button type="submit" class="btn btn-success m-2">サインアップ</button>
</form>
{% endblock %}